.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 10rem;
}

.label {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: x-large;
  color: #323232;
}
.input {
  display: flex;
  justify-content: center;
  width: 400px;
  padding-top: 4rem;
}
.handleSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50px;
  margin-left: 5em;
}
