.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.connectImg {
  display: flex;
  align-items: center;
  height: 500px;
  width: 500px;
  object-fit: cover;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 600px;
  background-color: #ddd0c8;
}

.label {
  display: flex;
  font-family: "Times New Roman", Times, serif;
  color: #323232;
  padding-top: 1rem;
}
.input {
  display: flex;
  justify-content: center;
  width: 300px;
  padding-top: 4rem;
}
.handleSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}
