.HomePage {
  display: flex;
  margin: 10rem;
  margin-top: 7rem;
  flex-direction: column;
  justify-content: center;
}
.Background {
  height: 500px;
  z-index: 0;
  object-fit: cover;
}
.Content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.HomeButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.ProfilePic {
  border-radius: 30%;
  border: transparent;
  width: 200px;
  height: 200px;
  filter: drop-shadow(0 0 2rem black);
}

.Name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  z-index: 1;
}

.aboutText {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  z-index: 1;
}
