.HomePage {
  display: flex;
  margin: 15rem;
  margin-top: 7rem;
  flex-direction: column;
  justify-content: center;
}
.Content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.HomeButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.ProfilePic {
  border-radius: 30%;
  border: transparent;
  width: 300px;
  height: 300px;
  filter: drop-shadow(0 0 2rem black);
}

.Name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.aboutText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
}
