.Pagebody {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  filter: drop-shadow(0 0 0.5rem grey);
}

.progressBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 10px;
  background: grey;
  transform-origin: 0%;
}

.nameSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.SkillsSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  row-gap: 5px;
  column-gap: 1rem;
  margin-top: 2rem;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}

.list li {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  padding: 0.5rem;
}

/*Education Section*/
.Education {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  width: 100%;
}

.School {
  display: flex;
  margin-left: 3rem;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: space-between;
  margin-right: 3rem;
}

.SchoolName {
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.SchoolTime {
  display: flex;
  align-items: flex-end;
  margin: 3rem;
}

.SchoolDesc {
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
}

.Certifications {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ExpItem {
  display: flex;
  margin: 3rem;
  justify-content: center;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 1rem;
}

.CompanyDetails {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.Possition {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Company {
  display: flex;
  align-items: flex-start;
  font-size: large;
  font-weight: bold;
}

.ExpItem ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.Possition {
  display: flex;
  align-items: flex-start;
  font-size: large;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
