.Pagebody {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  margin-top: 8rem;
  background-color: white;
  filter: drop-shadow(0 0 0.5rem #323232);
}

.progressBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 10px;
  background: #323232;
  transform-origin: 0%;
}

.nameSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}
.nameSection p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}

.SkillsSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.list li {
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  padding: 0.25rem;
}

/*Education Section*/
.Education {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  margin-top: 0;
}

.School {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: space-between;
}

.SchoolName {
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.SchoolTime {
  display: flex;
  align-items: flex-end;
}

.SchoolDesc {
  display: flex;
}
.Certifications {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  font-weight: 800;
}

.ExpItem {
  display: flex;
  margin: 3rem;
  margin-top: 0;
  justify-content: center;
  flex-direction: column;
}

.CompanyDetails {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.Possition {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Company {
  display: flex;
  align-items: flex-start;
  font-size: large;
  font-weight: bold;
}

.ExpItem ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}
.ExpSkillList {
  padding: 0.2rem;
}

.Possition {
  display: flex;
  align-items: flex-start;
  font-size: large;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
